.table img {
    width: 30px;  /* Adjusted width */
    height: 30px; /* Adjusted height */
    object-fit: cover;
    border-radius: 50%;
}

.table th,
.table td {
    white-space: nowrap;
}

.w-small {
    width: 5%;
}

.w-medium {
    width: 10%;
}

.w-large {
    width: 15%;
}

.list-user-profile {
    width: 20px;
}